<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.youtube %}
          <li>
            {% include icon-youtube.html url=site.youtube %}
          </li>
          {% endif %}          

          {% if site.scholar_username %}
          <li>
            {% include icon-scholar.html username=site.scholar_username %}
          </li>
          {% endif %}

          {% if site.nasaads %}
          <li>
            {% include icon-nasaads.html url=site.nasaads%}
          </li>                
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>