<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="page-heading">Interest</h2>
        <li> Cosmology </li>
        <li> Astrophysics </li>
        <li> Machine Learning </li>
        <li> Photography </li>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <h2 class="page-heading">Education</h2>
          <li> <span class="icon icon--gitlab">{% include grade.svg %}</span> <span> Ph.D. in Physics, 2023</span><br>Universidad de Los Andes
          </li>
          <li> <span class="icon icon--gitlab">{% include grade.svg %}</span> <span> M.Sc. in Physics, 2018</span><br>Universidad de Los Andes
          </li>
          <li> <span class="icon icon--gitlab">{% include grade.svg %}</span> <span> B.S. in Physics, 2014</span><br>Universidad Distrital FJC
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>