/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: left;
    line-height: 56px;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Slider
 */
.mySlides {
  display: none;
}

.mySlides img {
  max-height: 100%;
  max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
  justify-content: center;
  align-items: center;
  width: 90%; /* Set a fixed width for the slideshow container */
}

.slide {
  display: none; /* Hide all slides by default */
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire slide */
}

.slide-caption {
  margin: 10px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5); /* Set the background color with transparency for the shadowed square */
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

/* Caption text */
.text {
  padding: 10px 10px 10px 10px;
  position: middle;
  width: 100%;
  text-align: left;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Project Elements */
.project-outer {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin: 10px 10px 10px 10px;
}
.project-img img{
  width: 90%;
}
h3.project-headlines {
  margin: 1px 0;
  font-size: 15px;
  text-align: center;
}
span.tags{
  font-size: 10px;
  border-bottom: 1px #888 dotted;
  margin: 0 5px;
}
span.tags:first-child {
  margin-left: 0;
}
span.tags:last-child {
  margin-right: 0;
}
.project-footer {
  clear: both;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.project-footer .project-link {
  display: inline-block;
  position: relative;
  float: center;
  text-align: center;
  text-decoration: none;
}
.project-footer .project-timeline {
  display: inline-block;
  position: center;
  float: right;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}
.project-inner > a {
  display: block;
}
.project-img {
  width: 220px;
  height: 210px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

/** Project Tag Filters **/
.tag-group {
  margin: 0 0 25px 0;
}

span.tag-cloud {
  margin: 0 2px;
  cursor: pointer;
  font-size: 75%;
  padding: .2em .6em .3em;
  font-weight: 700;
  display: inline;
}

.tag-cloud.active {
  background: #ccc;
}

.project-item.not-show {
  display: none;
}

a.project-detail:hover {
  text-decoration: none;
  text-align: center;
}

a.project-detail:hover h3 {
  color: #62A253;
}

.publication-authors {
  color: grey;
  font-style: italic;
}

.publication-timeline{
  font-style: italic;
}

/* Lecture Elements */

.lecture-outer {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin: 20px 10px 20px 10px;
}

h3.lecture-headlines {
  margin: 5px 0;
  font-size: 15px;
  text-align: center;
}

.lecture-footer {
  clear: both;
  display: inline-block;
  width: 100%;
}

.lecture-footer .lecture-link {
  display: inline-block;
  position: relative;
  float: left;
  text-decoration: none;
}

.lecture-footer .lecture-timeline {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-style: italic;
}

.lecture-inner > a {
  display: block;
}

.lecture-img {
  width: 200px;
  height: 150px;
  display: block;
  resize: width;
  background-position: center;  
  background-color: #fff;  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Photo Elements */
.photo-outer {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  margin: 20px 15px 20px 15px;  
  text-align: center;
}

h3.photo-headlines {
  margin: 5px 0;
  font-size: 16px;
  text-align: center;
}

.photo-footer {
  clear: both;
  display: inline-block;
  width: 100%;
}

.photo-footer .photo-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.lecture-footer .lecture-timeline {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-style: italic;
}

.photo-inner > a {
  display: block;
  text-align: center;
  width: 100%;
}

.photo {
  display: block;
  text-align: center;
  width: 100%;
}

.photo-img {
  text-align: center;
  width: 600px;
  height: 150px;
  display: block;
  resize: width;
  background-position: center;  
  background-color: #fff;  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
}

.calendar{
  width: 100%;
  height: 850px;    
}

/**
 * DESI Outliers Mosaic
 */

.container {
  margin-top: 50px;
  margin-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.url-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
}

.spectrum {
  width: calc(25% - 10px);
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.spectrum:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.spectrum .img-desiout.selected {
  border: 3px solid #f00;
}

.image-preview {
  max-width: 900px;
  display: none;
  width: 90%;
  margin: 20px 15px 20px 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: fixed;
  background-color: white;
  z-index: 9999;
}

.preview-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 15px 20px 15px;
}

.preview-details button {
  margin-top: 10px;
}

.image-preview img {
  margin: 20px 15px 20px 15px;
  width: 80%;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .image-preview img {
    width: 80%;
  }
}