---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <hr />
  </header>

  <div class="content">
    {{ content }}
  </div>
</article>

<script>
const imageUrls = document.querySelectorAll('.img-desiout');
const imagePreview = document.querySelector('.image-preview img');
const previewPanel = document.querySelector('.image-preview');
const previewDesc = document.getElementById('desiout_desc');
const reportButton = document.querySelector('.preview-details button');
const prevButton = document.querySelector('.previous-image');
const nextButton = document.querySelector('.next-image');
const imageList = document.querySelectorAll('.spectrum');
let currentIndex = 0;


function updatePreview(index) {
  const currentImage = imageList[index].querySelector('.img-desiout');
  imagePreview.src = currentImage.src;
  previewDesc.textContent = currentImage.parentElement.querySelector('.data-desiout').textContent;

  // Remove "selected" class from all miniature images
  imageList.forEach((image) => {
    image.querySelector('.img-desiout').classList.remove('selected');
  });

  // Add "selected" class to the current miniature image
  currentImage.classList.add('selected');

}


function showPreview(index) {
  currentIndex = index;
  updatePreview(currentIndex);
  previewPanel.style.display = 'flex';
  
  // remove the 'selected' class from all thumbnail images
  imageList.forEach((image, i) => {
    image.querySelector('.img-desiout').classList.remove('selected');
  });

  // add the 'selected' class to the thumbnail image for the current preview image
  imageList[currentIndex].querySelector('.img-desiout').classList.add('selected');
}

function hidePreview() {
  previewPanel.style.display = 'none';
}

function previousImage() {
  currentIndex = (currentIndex - 1 + imageList.length) % imageList.length;
  updatePreview(currentIndex);
}

function nextImage() {
  currentIndex = (currentIndex + 1) % imageList.length;
  updatePreview(currentIndex);
}

function handleKeyboard(event) {
  if (event.keyCode === 37) { // left arrow key
    previousImage();
  } else if (event.keyCode === 39) { // right arrow key
    nextImage();
  }
}

imageUrls.forEach((url, index) => {
  url.addEventListener('click', () => {
    showPreview(index);
  });
});

document.addEventListener('mousedown', () => {
  imagePreview.classList.add('move-down');
});

prevButton.addEventListener('click', () => {
  previousImage();
});

nextButton.addEventListener('click', () => {
  nextImage();
});

reportButton.addEventListener('click', (event) => {
  event.preventDefault();

  console.log("Report button clicked!"); // Check if this line is executed

  const imgSrc = imagePreview.src;
  const imgDsc = previewDesc.textContent;
  const body = "Hi John, %0D%0A I found the next feature(s) in this spectrum. %0D%0A %0D%0A " + "Image: " + imgSrc + "%0D%0A" + "Description: " + imgDsc;
  const link = "mailto:jf.suarez@uniandes.edu.co?subject=DESI Outlier report&body=" + body;
  window.open('https://forms.gle/tdUyCGLvpyySsjfM9', '_blank')
});

document.addEventListener('keydown', handleKeyboard);

$(document).ready(function() {
  $('.img-desiout').on('click', function() {
    var img_src = $(this).attr('src');
    var filename = $(this).data('filename');
    var band = filename.split('_')[3].toUpperCase();
    var island_outlier = filename.split('_')[9] + '_' + filename.split('_')[10].split('.')[0];
    
    $('.img-desiout').removeClass('selected');
    $(this).addClass('selected');
    
    $('.image-preview img').attr('src', img_src);
    $('#desiout_desc').html('Band: ' + band + '<br>ID: ' + island_outlier);
  });
  
  // code for arrow button navigation and arrow key navigation goes here
  
  // Highlight the selected miniature image
  $('.img-desiout').on('click', function() {
    $('.img-desiout').removeClass('selected');
    $(this).addClass('selected');
  });
});


</script>