<!DOCTYPE html>

<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        <div class="slideshow-container">
          {% for slide in site.data.slides %}
            <div class="mySlides fade">
              <img src="assets/images/{{ slide.image }}">
              <div class="slide-caption">
                {{ slide.name }}
              </div>
            </div>
          {% endfor %}
        </div> 
        <div style="text-align:center">
          {% for slide in site.data.slides %}
            <span class="dot"></span>
          {% endfor %}
        </div>      
        <br>
        <div class="home">
          <h1 class="page-heading">About Me</h1>
          <img src="/assets/images/me_.png" style="width:25%; margin-right:15px; border-radius:50%;" align="left">
          <span class="introduction">
		Hello, my name is John. I am a Professor at the School of Engineering and Sciences at the <a href="https://tec.mx/es/guadalajara">Tecnológico de Monterrey, Campus Guadalajara</a>. I hold a Ph.D. in Physics from the <a href="http://uniandes.edu.co">University of Los Andes</a> in Bogotá, Colombia. My primary research interests focus on the development and implementation of artificial intelligence-based algorithms, primarily to solve complex challenges in astronomy. Additionally, I have applied AI techniques in various industrial contexts. As part of my commitment to academic outreach, I serve on the committee of the <a href="https://www.astroreca.org/en/mentoring">RECA Mentorship</a> program.          </span>
          <br>
        </div>
          <br>
          <br>
          There is available a <a href="https://github.com/jsuarez314/CV/blob/master/cv.pdf">full</a> or <a href="https://github.com/jsuarez314/CV/blob/master/cv_short.pdf">short</a> version of my scientific CV.
        <h2></h2>
      </div>
    </div>


  <script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
  }
  </script>

	{% include subfooter.html %}
  {% include footer.html %}

  </body>
</html>
