---
layout: page
title: Photography
permalink: /photography/
---
<header class="post-header">
</header>

<div class="photo">
  {% for i in site.data.photos %}
  <div class="photo-item photo-outer">
    <div class="photo-inner">
      {% assign p_url = nil %}
      {% for pr in p_array %}
        {% if pr contains i.slug %}
          {% assign p_url = pr[1] %}
        {% endif %}
      {% endfor %}
      {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}

      <a data-flickr-embed="true" data-footer="false" href="{{ i.flickr_album }}" title="{{ i.country }} - {{ i.city }} {{ i.date }}"><img src="{{ i .flickr_pres }}" alt="{{ i.city }} {{ i.date }}"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

      {% if p_url %}
        <a class="photo-detail" href="{{ p_url }}">
      {% endif %}
         <h3 class="photo-headlines">{{ i.country}} - {{ i.city}} - {{ i.date }}</h3>
      {% if p_url %}
        </a>
      {% endif %}
    </div>
    <hr>
  </div>
  {% endfor %}
</div>