---
layout: page
title: Posts
permalink: /posts/
---

<div class="list-group">
  <ul class="posts">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }} [{{ post.lang }}]</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
    {% endfor %}
  </ul>
</div>