---
layout: page
title: Projects
permalink: /projects/
---
<article class="post">

  <div class="post-content">
    {{ content }}

    {% assign p_array = "" | split:"|"  %}
    {% for project in site.projects %}
      {% capture p_slug %}{{ project.url | split:"/" | last }},{{ project.url }}{% endcapture %}
      {% assign p_slug_arr = p_slug | split:"," %}
      {% assign p_array = p_array | push: p_slug_arr  %}
    {% endfor %}

    <div class="projects">
      {% for i in site.data.projects %}
      <div class="project-item project-outer" data-tags='{{ i.tags | jsonify | downcase }}'>
        <div class="project-inner">
          {% assign p_url = nil %}
          {% for pr in p_array %}
            {% if pr contains i.slug %}
              {% assign p_url = pr[1] %}
            {% endif %}
          {% endfor %}
          {% if p_url == nil %}{% assign p_url = i.url %}
          {% endif %}

          <a href="{{ p_url }}" class="thickbox">
            <div class="project-img bordered" style="background-image: url('/assets/images/{{ i.image }}');"></div>
          </a>

          {% if p_url %}
            <a class="project-detail" href="{{ p_url }}">
          {% endif %}
             <h3 class="project-headlines">[{{i.state }}] {{ i.name }}</h3>
          {% if p_url %}
            </a>
          {% endif %}

        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</article>