---
layout: page
title: Publications
permalink: /publications/
---

<div class="publication">
 
  {% for i in site.data.publications %}
  <div class="publication-item publication-outer" data-tags='{{ i.tags | jsonify | downcase }}'>
    <div class="publication-inner">
      <ul>
      {% assign p_url = nil %}
      {% for pr in p_array %}
        {% if pr contains i.slug %}
          {% assign p_url = pr[1] %}
        {% endif %}
      {% endfor %}
      <li>
      <span class="publication-timeline">{{ i.date }},       {% if i.tags %}
        {% for j in i.tags %}
          <span class="tags tag-filter" data-tag="{{j}}">{{j}}</span><br>
        {% endfor %}
      {% endif %}</span>
      <span class="publication-authors">{{ i.authors }}</span><br>
      {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}
      {% if p_url %}
        <a class="publication-detail" href="{{ p_url }}">
      {% endif %}
        <span class="publication-headlines">{{ i.name }}</span>
      {% if p_url %}
        </a><br> {{ i.event }}<br>
      {% endif %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
