---
layout: page
title: Talks
permalink: /talks/
---
<article class="post">
  <header class="post-header">
  </header>

  <div class="post-content">
    {{ content }}

    {% assign p_array = "" | split:"|"  %}
    {% for talk in site.talks %}
      {% capture p_slug %}{{ talk.url | split:"/" | last }},{{ talk.url }}{% endcapture %}
      {% assign p_slug_arr = p_slug | split:"," %}
      {% assign p_array = p_array | push: p_slug_arr  %}
    {% endfor %}

    <div class="lecture">
      {% for i in site.data.talks %}
      <div class="lecture-item lecture-outer">
        <div class="lecture-inner">
          {% assign p_url = nil %}
          {% for pr in p_array %}
            {% if pr contains i.slug %}
              {% assign p_url = pr[1] %}
            {% endif %}
          {% endfor %}
          {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}

          <a href="{{ p_url }}">
            <div class="lecture-img bordered" style="background-image: url('/assets/images/{{ i.image }}');"></div>
          </a>

          {% if p_url %}
            <a class="lecture-detail" href="{{ p_url }}">
          {% endif %}
             <h3 class="lecture-headlines">[{{i.type}}][{{i.language}}]</h3><h3 class="lecture-headlines"> {{ i.name }}</h3><h3 class="lecture-headlines">{{ i.event }} - {{ i.date }}</h3>
          {% if p_url %}
            </a>
          {% endif %}
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</article>