---
layout: page
title: Teaching
permalink: /teaching/
---

<div class="publication">

  {% assign p_array = "" | split:"|"  %}
  {% for course in site.teaching %}
    {% capture p_slug %}{{ course.url | split:"/" | last }},{{ course.url }}{% endcapture %}
    {% assign p_slug_arr = p_slug | split:"," %}
    {% assign p_array = p_array | push: p_slug_arr  %}
  {% endfor %}


  <h3> 2025-1 </h3>
  <ul>
    {% for i in site.data.teaching %}
      <div class="publication-item publication-outer" data-tags='{{ i.tags | jsonify | downcase }}'> 
        {% assign p_url = nil %}
        {% for pr in p_array %}
          {% if pr contains i.slug %}
            {% assign p_url = pr[1] %}
          {% endif %}
        {% endfor %}
        <li>
          <span class="publication-timeline"> 
          {% if i.tags %}
            {% for j in i.tags %}
              <span class="tags tag-filter" data-tag="{{j}}">{{j}}</span><br>
            {% endfor %}
          {% endif %}
          </span>
          {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}
          {% if i.public == "True" %}
            {% if p_url %}
              <a class="publication-detail" href="{{ p_url }}">
            {% endif %}
            <span class="publication-headlines">{{ i.name }} [{{ i.id }}] ({{ i.type }})</span></a>
          {% else %}
            <span class="publication-headlines">{{ i.name }} [{{ i.id }}] ({{ i.type }})</span>
          {% endif %}
        </li>
      </div>
    {% endfor %}
  </ul>
  </div>